[Unit]
Description={{ demo_application_title_effective }}

[Container]
Image={{ demo_application_runtime_image_ref_effective }}
PublishPort={{ demo_application_http_port_effective }}:8080

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
