<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ demo_application_title_effective }}</title>
</head>
<body>
  <h1>{{ demo_application_title_effective }}</h1>
  <p>{{ demo_application_message_effective }}</p>
  <p>Application package: {{ demo_application_name_effective }}</p>
  <p>Runtime image: {{ demo_application_runtime_image_ref_effective }}</p>
</body>
</html>
