$TTL 300
@ IN SOA ns1.{{ demo_dns_zone }}. hostmaster.{{ demo_dns_zone }}. (
  {{ ansible_date_time.epoch }}
  3600
  900
  1209600
  300
)
@ IN NS ns1.{{ demo_dns_zone }}.
ns1 IN A {{ hostvars[groups['dns_hosts'][0]].ansible_host }}
{% for host in groups['managed_rhel_hosts'] | sort %}
{{ hostvars[host].dns_name }} IN A {{ hostvars[host].ansible_host }}
{% if host != hostvars[host].dns_name %}
{{ host }} IN CNAME {{ hostvars[host].dns_name }}
{% endif %}
{% endfor %}
