{
  "realm": "{{ keycloak_realm }}",
  "enabled": true,
  "displayName": "Edge Manager",
  "roles": {
    "realm": [
      {
        "name": "flightctl-admin",
        "description": "Administrator role consumed by Red Hat Edge Manager"
      }
    ]
  },
  "clients": [
    {
      "clientId": "{{ flightctl_client_id }}",
      "name": "Edge Manager",
      "enabled": true,
      "protocol": "openid-connect",
      "publicClient": false,
      "secret": "{{ flightctl_client_secret }}",
      "standardFlowEnabled": true,
      "directAccessGrantsEnabled": true,
      "serviceAccountsEnabled": false,
      "redirectUris": [
        "{{ rhem_effective_ui_url }}/*",
        "{{ rhem_effective_ui_url_with_default_https_port }}/*",
        "http://localhost:8080/*"
      ],
      "webOrigins": [
        "+"
      ],
      "defaultClientScopes": [
        "profile",
        "email",
        "roles",
        "web-origins"
      ],
      "optionalClientScopes": [
        "offline_access"
      ],
      "protocolMappers": [
        {
          "name": "realm roles in userinfo",
          "protocol": "openid-connect",
          "protocolMapper": "oidc-usermodel-realm-role-mapper",
          "consentRequired": false,
          "config": {
            "user.attribute": "foo",
            "introspection.token.claim": "true",
            "access.token.claim": "true",
            "id.token.claim": "true",
            "userinfo.token.claim": "true",
            "claim.name": "realm_access.roles",
            "jsonType.label": "String",
            "multivalued": "true"
          }
        }
      ]
    }
  ],
  "users": [
    {
      "username": "{{ edge_manager_admin_username }}",
      "enabled": true,
      "firstName": "{{ edge_manager_admin_first_name | default('Edge', true) }}",
      "lastName": "{{ edge_manager_admin_last_name | default('Manager Admin', true) }}",
      "email": "{{ edge_manager_admin_email | default(edge_manager_admin_username ~ '@example.com', true) }}",
      "emailVerified": true,
      "requiredActions": [],
      "credentials": [
        {
          "type": "password",
          "value": "{{ edge_manager_admin_password }}",
          "temporary": false
        }
      ],
      "realmRoles": [
        "flightctl-admin",
        "offline_access"
      ]
    },
    {
      "username": "{{ edge_manager_ops_username }}",
      "enabled": true,
      "firstName": "{{ edge_manager_ops_first_name | default('Edge', true) }}",
      "lastName": "{{ edge_manager_ops_last_name | default('Manager Ops', true) }}",
      "email": "{{ edge_manager_ops_email | default(edge_manager_ops_username ~ '@example.com', true) }}",
      "emailVerified": true,
      "requiredActions": [],
      "credentials": [
        {
          "type": "password",
          "value": "{{ edge_manager_ops_password }}",
          "temporary": false
        }
      ],
      "realmRoles": [
        "flightctl-admin",
        "offline_access"
      ]
    }
  ]
}
