global:
  auth:
    type: oidc
    insecureSkipTlsVerify: true
    oidc:
      enabled: true
      issuer: http://keycloak.rhem-eap.lan:8080/realms/edge-manager
      clientId: flightctl-client
      clientSecret: CHANGEME-flightctl-client-secret
      organizationAssignment:
        type: static
        organizationName: default
      usernameClaim:
        - preferred_username
      roleAssignment:
        type: dynamic
        claimPath:
          - realm_access
          - roles
    pamOidcIssuer:
      enabled: false
