# Copy to terraform.tfvars in this directory. File is gitignored.

proxmox_endpoint = "https://192.168.4.101:8006/"
proxmox_node     = "homelab"
disk_storage     = "local-lvm"

bootc_qcow2_path = "../../../automation/artifacts/bootc/current/rhem/disk.qcow2"

vm_id   = 160
vm_name = "frigate-proxmox-01"
